name: hmti_posts_app
description: Aplikasi Flutter CRUD terhubung ke API Post.

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  image_picker: ^0.8.7+5
  path: ^1.8.2

